<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
     <script src="https://www.gstatic.com/firebasejs/3.0.2/firebase.js"></script>
  <script>

   
  </script>
  </head>
  <body>
    {{{body}}}
  </body>
  <script src='/scripts/user_scripts.js' ></script>
</html>
