<h1>{{title}}</h1>
<p>Users List</p>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div id="usersList">
                <table>
                   <thead>
                       <th>
                           <td>
                                    <input type="checkbox"  id="selectAll">
                            </td>
                           
                             <td>
                                    Name
                            </td>
                             <td>
                                     Email
                            </td>
                             <td>
                                    Mobile
                            </td>
                            
                       </th>
                    
                    </thead>
                    <tbody>
                        
                        
                    </tbody>
                 </table>
                
            </div>
            
        </div>
    </div>
</div>
