<h1>{{title}}</h1>
<p>Users List</p>

<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-12">
		

            <div>
			<form id="postnotice" method="post" action="/users/submitNotice">
			<textarea id="noticebox" name="noticebox"> </textarea>
                <button id="submitNotice">Send Notice</button>
			</form>
                </div>
            <div id="usersList">
                <table>
                   <thead>
                       <tr>
                           <thj>
                                    <input type="checkbox"  id="selectAll">
                            </th>
                           
                             <th>
                                    Name
                            </th>
                             <th>
                                     Email
                            </th>
                             <th>
                                    Mobile
                            </th>
                            <th>
                                    Community
                            </th>
                            
                       </tr>
                    
                    </thead>
                    <tbody>
                        
                        
                        
                    </tbody>
                 </table>
                
            </div>
            
        </div>
		
		 <div class="col-sm-6 col-md-6">
            <div>
                <button>Register</button>
                </div>
            <div id="usersList">
                <table>
                   <thead>
                       <tr>
                           <thj>
                                    <input type="checkbox"  id="selectAll">
                            </th>
                           
                             <th>
                                    Name
                            </th>
                             <th>
                                     Email
                            </th>
                             <th>
                                    Mobile
                            </th>
                            <th>
                                    Community
                            </th>
                            
                       </tr>
                    
                    </thead>
                    <tbody>
                        
                        
                        
                    </tbody>
                 </table>
                
            </div>
            
        </div>
		
		
    </div>
</div>